.jumbotron {
  margin-top: 0em;  
  height: 11em;
}

html,body,#graph {
  height:100%;
}
.body{
  height:100%;
}
.container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
display: table-cell;
float: none;
}

.massive-font{
  font-size: 30px;
  text-align: center;
}

.progress-bar {
  background: -webkit-linear-gradient(left, #d40000 0%,#368f03 100%); /* Chrome10-25,Safari5.1-6 */
  }