{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
{{super()}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
{%- endblock %}

{% block content %}
<div class="jumbotron">
    <h2>SAFU hackaton</h2>
    <p>Is the transaction address you are sending your crypto to SAFU?</p>
</div>

<div class="container">
  
  <form method="POST" action="{{ url_for('public.home') }}">
    <div class="form-group">
        <label for="queryInput">Enter the address to check</label>
        <textarea class="form-control" id="queryInput" rows="1" name="query" placeholder="10hkyBEKt5S2GDfg7aQw6rQepAvnsRyHoYM" required>{{ request.form['query'] }}</textarea>
    </div>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <input type="submit" value="Check">
  </form>



  {% if request.method == 'POST' and not error%}
  
  <h3>Outgoing Transactions</h3>
  
  <table class="table">
    <thead>
      <tr>
        <th>Destination account</th>
        <th>Destination account compromised</th>
      </tr>
    </thead>
    <tbody>
      {% for address in outgoing_transactions %}
      <tr>
        <td>{{ address.id }}</td>
        <td>{{ address.compromised }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <h4>Outgoing transactions graphical representation</h4>

  <div id="mynetworkoutgoing"></div>

  <script type="text/javascript">
  
  // create an array with nodes 
  var nodes = new vis.DataSet([
    {id: 0, label:"{{ origin.id }}", color: {% if origin.compromised %} 'red' {% else %} 'green' {% endif %}},
    {% for address in outgoing_transactions %}
    {id: {{loop.index}}, label:"{{ address.id }}", color: {% if address.compromised %} 'red' {% else %} 'blue' {% endif %}},
    {% endfor %}
  ])

  // create an array with edges
  var edges = new vis.DataSet([
    {% for address in outgoing_transactions %}
      {from: 0, to: {{loop.index}}},
    {% endfor %}
  ]);

  // create a network
  var container = document.getElementById('mynetworkoutgoing');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {borderWidth: 2},
    interaction: {hover: true},
    height: '400px',
    width: '100%'
  }
  var network = new vis.Network(container, data, options);
  </script>


<h3>Incoming Transactions</h3>
  
<table class="table">
  <thead>
    <tr>
      <th>Orging account</th>
      <th>Origin account compromised</th>
    </tr>
  </thead>
  <tbody>
    {% for address in incoming_transactions %}
    <tr>
      <td>{{ address.id }}</td>
      <td>{{ address.compromised }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h4>Incoming transactions graphical representation</h4>

<div id="mynetworkincoming"></div>

<script type="text/javascript">

// create an array with nodes 
var nodes = new vis.DataSet([
  {id: 0, label:"{{ origin.id }}", color: {% if origin.compromised %} 'red' {% else %} 'green' {% endif %}},
  {% for address in incoming_transactions %}
  {id: {{loop.index}}, label:"{{ address.id }}", color: {% if address.compromised %} 'red' {% else %} 'blue' {% endif %}},
  {% endfor %}
])

// create an array with edges
var edges = new vis.DataSet([
  {% for address in incoming_transactions %}
    {from: {{loop.index}}, to: 0},
  {% endfor %}
]);

// create a network
var container = document.getElementById('mynetworkincoming');
var data = {
  nodes: nodes,
  edges: edges
};
var options = {
  nodes: {borderWidth: 2},
  interaction: {hover: true},
  height: '400px',
  width: '100%'
}
var network = new vis.Network(container, data, options);
</script>
  
  {% endif %}

</div>
{%- endblock %}